.overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}